*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header section{
    background-color: #F3F4EF;
    height: 3vh;
    padding: 5px;
}

header section ul{
    list-style-type: none;
}

header section li{
    display: block;
    float: right;
}


header section a{
    text-decoration: none;
    margin: 5px;
    font-size: 0.8em;
    color: #3C3C3C;
}

header section a:hover{
    text-decoration: underline;
}

header nav{
    background-color: #779882;
    display: grid;
    grid-template-columns: 96% 4%;
    padding: 10px;
}


header nav i{
    color: #3C3C3C;
    font-size: 1.5em;
    padding: 2px;
    float: left;
}




#hero{
    height: 40vh;
    
}

#hero img{
    max-width: 100%;
    height: 80%;
    width: 100%;
    object-fit: cover;
    
}

#hero div{
    background-color: #779882;
    color: #F3F4EF;
    text-align: center;
    height: 8vh;
    padding: 1vh;
}

#hero h1{
    font-size: 1.5em;
}

#hero h2{
    font-size: 1em;
}

.join{
    height: 50vh;
    display: grid;
    grid-template-columns: 60% 1fr;
    background-color: #F3F4EF;
    color: #3C3C3C;
    padding: 25px;
}

.join p{
    padding-top: 3vh;
    margin-right: 2vh;
}

form{
    display: grid;
    align-content: space-evenly;
    background-color: #425348;
    border-radius: 40px;
    padding: 40px;
    margin: 50px 0;
}

form h2{
    color: #F3F4EF;
    margin-bottom: 20px;
}

form input{
    margin: auto;
    height: 30px;
    border-radius: 10px;
    color: #3C3C3C;
}

.tilmeld{
    width: 100%;
    color: #F3F4EF;
    background-color: #779882;
}

.info{
    height: 40vh;
    margin: 10vh 7vh;
}

.info p{
    padding-top: 3vh;
}

.info a{
    text-decoration: none;
    background-color: #779882;
    color: #F3F4EF;
    padding: 15px;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    margin: 4vh 0;
}

footer{
    height: 10vh;
    background-color: #425348;
    color: #F3F4EF;
    display: flex;
    flex-direction: row;
    gap: 30%;
    padding: 30px;
}
